<form [formGroup]="formOlvidarUsuario" (ngSubmit)="recuperarUsuario($event)">
    <div id="app">
      <section class="section">
        <div class="container mt-5">
          <div class="row">
            <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
              <div class="login-brand">
                <img src="assets/img/stisla-fill.svg" alt="logo" width="100" class="shadow-light rounded-circle">
              </div>

              <div class="card card-primary">
                <div class="card-header">
                  <h4>Recuperar contraseña</h4>
                </div>

                <div class="card-body">
                  <div class="form-group">
                    <label for="email">Correo del usuario</label>
                    <input id="usuario" formControlName="nombreUsuario" class="form-control" tabindex="1" required autofocus>
                    <div class="invalid-feedback">
                      Porfavor ingresar el correo del usuario
                    </div>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">Recuperar Contraseña</button>
                  </div>

                  <div class="form-group">
                    <a class="texto-activo" [routerLink]="'/login'">
                      Regresar al Login
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </form>
